Print numbers in comma separated format in either of the following two forms:

In [3]:
# First format:
x = 1600000
print(format(x,',d'))

1,600,000

In [10]:
# Second format:
x = 1600000
print(f'${x:,}')

$1,600,000

In [14]:
text = "{wealth:,}"
text.format(wealth = 1000000)

'1,000,000'

Abstraction

In [19]:
import itertools

In [ ]:
#dir(itertools)

In [20]:
animals = ['dog', 'dog', 'dog', 'horse', 'horse']

In [30]:
sorted_animals = sorted(animals)
sorted_animals

['dog', 'dog', 'dog', 'horse', 'horse']

In [22]:
for key, group in itertools.groupby(animals):
    print(key, list(group))

dog ['dog', 'dog', 'dog']
horse ['horse', 'horse']

In [24]:
{key: list(group) for key, group in itertools.groupby(animals)}

{'dog': ['dog', 'dog', 'dog'], 'horse': ['horse', 'horse']}

# From Class Lecture

In [31]:
animals = ['dog', 'dog', 'horse', 'horse', 'horse', 'dog']
sorted_animals = sorted(animals,reverse=True)
print("Now sorted, the list is:", sorted_animals, "\n")

for key, group in itertools.groupby(sorted_animals):
  print(key, list(group))

Now sorted, the list is: ['horse', 'horse', 'horse', 'dog', 'dog', 'dog']

horse ['horse', 'horse', 'horse']
dog ['dog', 'dog', 'dog']

# Chain

In [32]:
food = ['pizza', 'tacos', 'sushi']
numbers = list(range(4))
colors = ['red', 'green']
list(itertools.chain(food, numbers, colors))

['pizza', 'tacos', 'sushi', 0, 1, 2, 3, 'red', 'green']

In [33]:
food + numbers + colors

['pizza', 'tacos', 'sushi', 0, 1, 2, 3, 'red', 'green']

What happened to the '+' ðŸ¤ª?

In [36]:
colors = ['blue', 'green', 'red', 'Gold']
hobbies = {'soccer': 'CFC', 'fishing': 'Salmon', 'swimming': 'Ocean'}
list(itertools.chain(colors, hobbies))

['blue', 'green', 'red', 'Gold', 'soccer', 'fishing', 'swimming']

# Accumulate

In [37]:
# Adds up the primes
primes =[2, 3, 5, 7, 11, 13]
list(itertools.accumulate(primes))

[2, 5, 10, 17, 28, 41]

# List comprehensions

In [39]:
list_of_nums = [1, 2, 3, 4, 5,6]
list_ofnums_x5 = []

for num in list_of_nums:
    list_ofnums_x5.append(num*5)
    
list_ofnums_x5

[5, 10, 15, 20, 25, 30]

In [40]:
list_ofnums_x5 = [num * 5 for num in range(1,11) if num %2 ==0]

list_ofnums_x5

[10, 20, 30, 40, 50]

In [41]:
old_list = list(range(1, 51))
new_list = [num **3 for num in old_list if num%2 ==1]
new_list

[1,
 27,
 125,
 343,
 729,
 1331,
 2197,
 3375,
 4913,
 6859,
 9261,
 12167,
 15625,
 19683,
 24389,
 29791,
 35937,
 42875,
 50653,
 59319,
 68921,
 79507,
 91125,
 103823,
 117649]

In [45]:
old_list = list(range(1, 51))
new_list = [{num:num **3} for num in old_list if num%2 ==1]
new_list

[{1: 1},
 {3: 27},
 {5: 125},
 {7: 343},
 {9: 729},
 {11: 1331},
 {13: 2197},
 {15: 3375},
 {17: 4913},
 {19: 6859},
 {21: 9261},
 {23: 12167},
 {25: 15625},
 {27: 19683},
 {29: 24389},
 {31: 29791},
 {33: 35937},
 {35: 42875},
 {37: 50653},
 {39: 59319},
 {41: 68921},
 {43: 79507},
 {45: 91125},
 {47: 103823},
 {49: 117649}]

Anything before the 'for' is our method

In [42]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
long_colors = [color.upper() for color in colors if len(color) > 4]
long_colors

['ORANGE', 'YELLOW', 'GREEN', 'INDIGO', 'VIOLET']

In [44]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
long_colors = [{color:color.upper()} for color in colors if len(color) > 4]
long_colors

[{'orange': 'ORANGE'},
 {'yellow': 'YELLOW'},
 {'green': 'GREEN'},
 {'indigo': 'INDIGO'},
 {'violet': 'VIOLET'}]

Class Exercise

In [52]:
# We are converting the ff to listComprehension
my_string = '99 fantastic 13 hello 2 world'
nums_list = []

for i in my_string:
  if i.isdigit():
    nums_list.append(i)

print(nums_list)

['9', '9', '1', '3', '2']

In [51]:
my_list = [x for x in my_string if x.isdigit() ]
my_list

['9', '9', '1', '3', '2']

# PythonFinal Project Choice Options:

#Scripting inspiration:

https://www.upgrad.com/blog/python-projects-ideas-topics-beginners/

Datasets:

https://www.kaggle.com/datasets?fileType=csv&datasetsOnly=true

API list:

https://github.com/public-apis/public-apis

upGrad blogupGrad blog
42 Exciting Python Project Ideas & Topics for Beginners [2021] | upGrad blog
Looking for Python Project Ideas? Start off with these cool python project ideas to test your strengths & weakness but also help you to gain exposure that can be helpful for boosting your career.
Written by
Rohit Sharma
Est. reading time
25 minutes
Jan 6th (425 kB)

https://www.upgrad.com/blog/python-projects-ideas-topics-beginners/

kaggle.comkaggle.com
Find Open Datasets and Machine Learning Projects | Kaggle
Download Open Datasets on 1000s of Projects + Share Projects on One Platform. Explore Popular Topics Like Government, Sports, Medicine, Fintech, Food, More. Flexible Data Ingestion.
GitHubGitHub
GitHub - public-apis/public-apis: A collective list of free APIs
A collective list of free APIs. Contribute to public-apis/public-apis development by creating an account on GitHub. (82 kB)

https://github.com/public-apis/public-apis